<section>
	<h3 id="about-me">About Myself</h3>
	<div class="face-lockup">
		<div class="face-img"></div>

	</div>

	<div class="blurb">	
		<p><strong>Anna is a determined and curious young web developer</strong> residing in Queens, New York. She is currently working on building her skills in Javascript, MEAN stack, HTML, CSS. She possesses the enthusiasm and commitment in making an impact by utilizing her new skills. The idea of creating something in her own hands and delivering it into the hands of many others- is beguiling to her. </p>
	</div>

</section>