<section class='section-contact'>
	
<h3 id="contact">Contact</h3>

<hr class="bar">

<div class="social-links">
	<a href="http://www.twitter.com/Honeydeu" class="icon-twitter"></a>
	<a href="http://www.linkedin.com/in/annadeu3" class="icon-linkedin"></a>
	<a href="https://github.com/annadeu3" class="icon-github"></a>
	<a href="https://plus.google.com/u/0/+AnnaDeu3" class="icon-google-plus"></a>
</div>

<hr class="bar">

<a class="biglink" href="mailto:annadeu3@gmail.com">annadeu3@gmail.com</a>

</section>