<section class='alt-section'>
	
<h3 id="resume">Resume</h3>

<div class="resume-container">

	<div class="row section">
			<h3 class="mini-sections">Projects</h3>
	</div>
	<div class="projects">
	    <h5>GUESSING GAME</h5>
	    <p>Dec 2015</p>
	    <p><a href="http://annadeu3.github.io/GuessingGame/">[source code]</a></p>
	    <p>Guessing Game featuring HTML & CSS, JavaScript</p>
	</div>

	<div class="row section">
			<h3 class="mini-sections">Education</h3>
	</div>
	<div class="education">
	    <p><b>Grace Hopper Academy</b>, Fullstack Web Development, in progress</p>	
		<p><b>Skillcrush</b>, Web Development Blueprint, 2015</p>
		<p><b>Buffalo State College</b>, Master of Science in Forensic Science, in progress</p>
		<p><b>University at Buffalo</b>, Bachelor of Science in Biological Sciences, 2013</p>
	</div>

</div>
</section>